@()(implicit session: Session)
@home.main("Myrica Rybra Database") {

    <style>
            .res {
                text-align: center;
                border: none;
                padding-left: 40px;
                padding-right: 40px;
                padding-top: 20px;
            }

            .resLink{
                color: #728755;
            }

            .resLink:hover{
                color: #428bca;
            }

            .index-text {
                padding-top: 15px;
                padding-bottom: 15px;
            }




    </style>
    <div class="row">
        <div class="col-md-9">


            <div class="index-text">

                <p class="text-justify">
                    <p>It is a small to medium-sized evergreen tree growing up to 10–20 m (33–66 ft) high, with smooth
                    gray bark and a uniform spherical to hemispherical crown. It is dioecious, with separate male and
                    female plants. It tolerates poor acidic soils. The root system is 5–60 cm (2.0–23.6 in) deep,
                with no obvious taproot.</p>
                    <p>The fruit is spherical, 1.5–2.5 cm (0.59–0.98 in) in diameter, with a knobby surface. The surface
                        color is typically a deep, brilliant red, but may vary from white to purple. The flesh color is
                        similar to surface color, or somewhat lighter. The flesh is sweet and very tart. At the center
                        is a single seed, with a diameter about half that of the whole fruit.</p>
                      <p>  It is native to eastern Asia, mainly in south-central China where it has been grown for at least
                        2000 years.[2] Chinese cultivation is concentrated south of the Yangtze River, where it has
                        considerable economic importance. Its niche is forests on mountain slopes and valleys at
                          altitudes of 100–1,500 metres (330–4,920 ft).</p>
                </p>
            </div>


            <div class="panel-body">
                <form class="form-horizontal" id="form" method="get" action="/RiceRC/Search/searchBefore"
                accept-charset="UTF-8" >
                    <input type="text" style="float: left;
                        height: 40px;" class="form-control"
                    placeholder="e.g. PF00566 IPR000195 Rab-GTPase"
                    name="input" id="example">
                    <button type="submit"
                    style="float: left;
                        background-color: transparent;
                        border: transparent;
                        float: right;
                        margin-top: -31px;
                        margin-right: 5px;"><i class="fa fa-search"></i></button>

                    <span class="help-block">
                        e.g.,&nbsp;<a href="#" onclick="showExample()" class="resLink"><em id="egQuery">
                        example</em></a></span>
                </form>
            </div>



            <div class="panel panel-default" style="margin-top: 15px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-database"></i> Resources</h3>


                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-3 res">
                            <a href="#" class="resLink">
                                <i class="fa fa-pencil" style="font-size: 50px"></i>
                                <h3>Browse</h3>
                            </a>
                        </div>

                        <div class="col-md-3 res">
                            <a href="#" class="resLink">
                                <i class="fa fa-save" style="font-size: 50px"></i>
                                <h3>Blast Search</h3>
                            </a>
                        </div>

                        <div class="col-md-3 res">
                            <a href="#" class="resLink">
                                <i class="fa fa-random" style="font-size: 50px"></i>
                                <h3>Structural Variation</h3>
                            </a>
                        </div>



                        <div class="col-md-3 res">
                            <a href="#"  class="resLink">
                                <i class="fa fa-paper-plane" style="font-size: 50px"></i>
                                <h3>Sequences Fetch</h3>
                            </a>
                        </div>

                        <div class="col-md-3 res">
                            <a href="#" class="resLink">
                                <i class="fa fa-eject" style="font-size: 50px"></i>
                                <h3>Enrichment Analysis</h3>
                            </a>
                        </div>

                        <div class="col-md-3 res">
                            <a href="#" class="resLink">
                                <i class="fa fa-download" style="font-size: 50px"></i>
                                <h3>Download</h3>
                            </a>
                        </div>

                        <div class="col-md-3 res">
                            <a href="#"  class="resLink">
                                <i class="fa fa-phone" style="font-size: 50px"></i>
                                <h3>Contact</h3>
                            </a>
                        </div>

                        <div class="col-md-3 res">
                            <a href="#"  class="resLink">
                                <i class="fa fa-download" style="font-size: 50px"></i>
                                <h3>Platform</h3>
                            </a>
                        </div>



                    </div>

                </div>
            </div>
        </div>


        <div class="col-md-3">

            <div align="center" style="margin-top: 20px">
                <a href="#" target="_blank"
                style="text-align: center">
                    <img src="@routes.Assets.versioned("images/紫晶杨梅.jpg")" width="95%" style="margin-bottom: 20px">
                </a>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cube"></i> Data Statistics</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-chevron-circle-right"></i> Genomes: 32</li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bookmark"></i> Release Notes</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-chevron-circle-right"></i>
                            Myruca Rybra database is available online on June 2019.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div style="font-size: 13px;
        background-color: white;
        width: 1200px;
        /*    margin-top: 10px;*/
        /*    position: fixed;*/
        margin-bottom: 10px;
        font-weight: 300;
        color: black;
        text-align: center;">
        <hr>


            &nbsp;&nbsp;&nbsp;&nbsp;Copyright © <a href="https://rice.sicau.edu.cn/" target="_blank">XXXXXXXXXXXX</a> Copyright 2011 Auto Parts All Right Reserved

</div>

    <script>

        function showExample() {
            $("#example").val("PF00566 IPR000195 Rab-GTPase");
        }


    </script>

}