@()(implicit session: Session)
@home.main("Myrica rubra Database") {

    <style>
            .res {
                text-align: center;
                border: none;
                padding-left: 40px;
                padding-right: 40px;
                padding-top: 20px;
            }

            .resLink{
                color: #728755;
            }

            .resLink:hover{
                color: #428bca;
            }

            .index-text {
                padding-top: 15px;
                padding-bottom: 15px;
            }




    </style>
    <div class="row">
        <div class="col-md-9">


            <div class="index-text">

                <p class="text-justify">
            <p>The Myricaceae family comprises three genera, of which Myrica, comprising approximately 50 species, is most
                widely distributed across the warm, humid regions of Asia (e.g., China, Japan, and India), Europe (e.g.,
                France, Norway, Switzerland, and Spain), Africa (e.g., Kenya), North America (e.g., USA), and South America
                (e.g., Brazil). Chinese bayberry (Myrica rubra Sieb. & Zucc.) is an economically important fruit tree,
                and its cultivation area in China is about 334,000 ha with an annual yield of 950,000 t, approximately. In
                addition to producing flavorful fruit, different organs of Chinese bayberry are used in traditional Chinese
                medicine. Chinese bayberry extracts contain antioxidants against inflammation, allergies, diabetes, cancer,
                bacterial infections, and diarrhea, among other health issues. </p>

                </p>
            </div>


            <div class="panel-body">
                <form class="form-horizontal" id="form" method="get" action="/MRDB/search/searchBefore"
                accept-charset="UTF-8" >
                    <input type="text" style="float: left;
                        height: 40px;" class="form-control"
                    placeholder="e.g. GO:0005524 K02111 ECO:0000255"
                    name="input" id="example">
                    <button type="submit"
                    style="float: left;
                        background-color: transparent;
                        border: transparent;
                        float: right;
                        margin-top: -31px;
                        margin-right: 5px;"><i class="fa fa-search"></i></button>

                    <span class="help-block">
                        e.g.,&nbsp;<a href="#" onclick="showExample()" class="resLink"><em id="egQuery">
                        example</em></a></span>
                </form>
            </div>



            <div class="panel panel-default" style="margin-top: 15px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-database"></i> Resources</h3>


                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-3 res">
                            <a href="@routes.GenomeController.browseBefore()" class="resLink">
                                <i class="fa fa-eye" style="font-size: 50px"></i>
                                <h3>Browse</h3>
                            </a>
                        </div>

                        <div class="col-md-3 res">
                            <a href="@routes.GenomeController.conditionSearchBefore()" class="resLink">
                                <i class="fa fa-search" style="font-size: 50px"></i>
                                <h3>Condition Search</h3>
                            </a>
                        </div>

                        <div class="col-md-3 res">
                            <a href="http://210.22.121.250:20795/?data=my_data/MRDB/data" target="_blank" class="resLink">
                                <i class="fa fa-database" style="font-size: 50px"></i>
                                <h3>Genome Browser</h3>
                            </a>
                        </div>


                        <div class="col-md-3 res">
                            <a href="@routes.ToolsController.enrichmentBefore()" class="resLink">
                                <i class="fa fa-wrench" style="font-size: 50px"></i>
                                <h3>Enrichment Analysis</h3>
                            </a>
                        </div>

                        <div class="col-md-3 res">
                            <a href="@routes.ToolsController.blastBefore()" class="resLink">
                                <i class="fa fa-search-plus" style="font-size: 50px"></i>
                                <h3>Blast Search</h3>
                            </a>
                        </div>





                        <div class="col-md-3 res">
                            <a href="@routes.ToolsController.seqFetchBefore()"  class="resLink">
                                <i class="fa fa-paper-plane" style="font-size: 50px"></i>
                                <h3>Sequences Fetch</h3>
                            </a>
                        </div>

                        <div class="col-md-3 res">
                            <a href="@routes.MapController.annotation()"  class="resLink">
                                <i class="fa fa-picture-o" style="font-size: 50px"></i>
                                <h3>Annotation Map</h3>
                            </a>
                        </div>

                        <div class="col-md-3 res">
                            <a href="@routes.MapController.evolutionary()"  class="resLink">
                                <i class="fa fa-file-picture-o" style="font-size: 50px"></i>
                                <h3>Evolutionary Map</h3>
                            </a>
                        </div>


                    </div>

                </div>
            </div>
        </div>


        <div class="col-md-3">

            <div align="center" style="margin-top: 20px">
                <a href="#" target="_blank"
                style="text-align: center">
                    <img src="@routes.Assets.versioned("images/紫晶杨梅.jpg")" width="95%" style="margin-bottom: 20px">
                </a>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cube"></i> Data Statistics</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-chevron-circle-right"></i> Genomes: 2</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Genes: 26325</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Germplasm: 102</li>
                        <li><i class="fa fa-chevron-circle-right"></i> SSR Markers: 59</li>
                        <li><i class="fa fa-chevron-circle-right"></i> RNA-seq: 30</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Publications: 126</li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bookmark"></i> Release Notes</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-chevron-circle-right"></i>
                            <i>Myrica rubra</i> database is available online on Aug 2020.
                        </li>
                        <li><i class="fa fa-chevron-circle-right"></i>

                                <i>Myrica rubra</i> genome is published in BMC Genomics. [June 2019] <a href="https://pubmed.ncbi.nlm.nih.gov/31170907/" target="_blank" style="color: black">[Full Text] </a>.

                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div style="font-size: 13px;
        background-color: white;
        width: 1200px;
        /*    margin-top: 10px;*/
        /*    position: fixed;*/
        margin-bottom: 10px;
        font-weight: 300;
        color: black;
        text-align: center;">
        <hr><a href="https://beian.miit.gov.cn" target="_blank">沪ICP备17011715号-12</a>
        |  COPYRIGHT @@ ZheJiang Academy Of Agricultural Sciences.
</div>

    <script>

        function showExample() {
            $("#example").val("GO:0005524 K02111 ECO:0000255");
        }


    </script>

}