@()(implicit session: Session)
@home.main("Contact") {

    <style>

        p{
            font-size: 20px;
        }


    </style>
    <div class="row">
        <div class="form-group col-sm-12">
            <h2 class="page-heading">Contact</h2>
        </div>
    </div>

    <div class="row" style="margin: 20px">

        <p>Haiying Ren, renhy@@zaas.ac.cn, and 479046536@@qq.com</p>
        <p>Xingjiang Qi, qixj@@zaas.ac.cn</p>
        <p>Ren et al. The Bayberry Database: a multiomic database for Myrica rubra, an important fruit tree with medicinal value</p>


    </div>



}