@()(implicit session: Session)
@home.main("Annotation") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("mscroll/css/lz_index.css")">

    <style>
        .picture_list{
            text-align: center;
        }
    </style>

    <div class="row">
        <div class="form-group col-sm-12">
            <h2 class="page-heading">Annotation</h2>
        </div>
    </div>

    <div class="box">
        <h4 class="area">
            <span class="area_title" data-id="1">Myrica changed fa Cog cluster</span>
            <div class="area_img">
                <img src="/assets/mscroll/img/top.png">
            </div>
        </h4>
        <div class="picture_list">
            <img src="/assets/images/map/Myrica.changed.fa.Cog.cluster.png" style="width: 80%;">
        </div>
    </div>

    <div class="box">
        <h4 class="area">
            <span class="area_title" data-id="1">Myrica changed fa Kog cluster</span>
            <div class="area_img">
                <img src="/assets/mscroll/img/top.png">
            </div>
        </h4>
        <div class="picture_list">
            <img src="/assets/images/map/Myrica.changed.fa.Kog.cluster.png" style="width: 80%;">
        </div>
    </div>

    <div class="box">
        <h4 class="area">
            <span class="area_title" data-id="1">Myrica changed fa nr lib</span>
            <div class="area_img">
                <img src="/assets/mscroll/img/top.png">
            </div>
        </h4>
        <div class="picture_list">
            <img src="/assets/images/map/Myrica.changed.fa.nr.lib.png" style="width: 80%;">
        </div>
    </div>

    <script src="@routes.Assets.versioned("mscroll/js/mscroll.js")" type="text/javascript"></script>


}